<div class="row">
    <p> Add Super Hero</p>

    <form name="newHero" ng-submit="save()">
        <label for="name">Name</label>
        <input ng-model="superhero.Name" ng-required="true" name="name" type="text"/>

        <p> Powers</p>
        <ul>
            <li ng-repeat="power in superhero.Powers">
                <p> {{ power.Name }}</p>
            </li>
        </ul>
        <div class="row">
            Add Power: <input ng-model="superpower.Name" ng-required="true" name="power" type="text" />
            <a href="#" ng-click="addPower()" ng-disabled="superpower.Name.length < 2">Add</a>
        </div>
       <div class="row" style="margin-top:5px">
           <button class="btn" type="submit" ng-disabled="newHero.$invalid">Save</button>
           <button class="btn" type="submit" ng-click="cancel">Cancel</button>
       </div>
    </form>
</div>