<div>
    <div class="row" ng-if="!editMode">
        <h2>{{  superhero.Name }}</h2>

        <p> Powers</p>
        <ul>
            <li ng-repeat="power in superhero.Powers">
                <p> {{ power.Name }}</p>
            </li>
        </ul>

        <button ng-click="edit()">Edit</button>
        <a href="/">Back</a>
    </div>
    <div class="row" ng-if="editMode">
        <form name="editHero">
            <input ng-model="superhero.Name" ng-required="true" name="name" type="text" />
            <button type="submit" ng-disabled="editHero.$invalid" ng-click="save()">Save</button>
            <button type="submit"  ng-click="delete()">Delete</button>

            <button type="submit" ng-click="cancel()">Cancel</button>
        </form>
</div>
</div>